/*!
 * Copyright (c) 2021 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

@import '~eclipsefdn-solstice-assets/less/quicksilver/styles.less';
@import '_variables.less';

.header-wrapper-coming-soon {
  background: #02154f top center;
  background-image: url(images/background.jpg);
  background-size: cover;
}
.coming-soon{
  h1{
    color:#fff;
    margin-bottom:0;
    font-weight: 700;
  }
}
.coming-soon__container {
  background: rgba(0, 0,  0, .666);
  color:#fff;

  a{
    color:@brand-primary;
  }

  margin-top: 2rem;
  margin-bottom: 8rem;
  padding: 2.2rem  2rem;
}

#solstice-footer.footer-dark {
  background: #000000;
  color: #fff;
  h2 {
    color: #fff;
  }
  a:link,
  a:active,
  a:visited,
  a:focus {
    color: #fff;
    font-weight: @footer-link-font-weight;
  }

  a:hover {
    color: rgba(255, 255, 255, 0.788);
  }

  .nav {
    a {
      &:hover {
        background: none;
        color: rgba(255, 255, 255, 0.788);
      }
    }
  }
}
