<div class="container coming-soon">
  <h1 class="text-center white">Open Research Software<br/> Working Group</h1>
  <div class="coming-soon__container col-md-12 col-md-offset-6">
    <p>
    The Open Research Software Working Group will provide a governance framework
    for universities and their stakeholders to successfully collaborate on open
    source software for scientific, scholarly, and social good. <a href="https://www.eclipse.org/org/workinggroups/openresearch-charter.php">Read the charter</a>
    </p>
    <p>
      Are you interested in Open Research Software? Join the conversation about
      this proposed working group.
    </p>
    <p class="margin-bottom-0">
      <a class="btn btn-primary" href="https://accounts.eclipse.org/mailing-list/openresearch-wg">Join the Mailing List</a>
    </p>
  </div>
</div>